/* Googlefont Poppins CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 220px;
    background: rgb(222, 73, 19);
    transition: all 0.5s ease;
}
.sidebar.active {
    width: 60px;
}
.sidebar .logo-details {
    height: 80px;
    display: flex;
    align-items: center;
}
.sidebar .logo-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .logo-details img {
    width: 60px;
}

.sidebar .nav-links {
    margin-top: 10px;
    margin-left: -32px;
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}
.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a.active {
    background: #0f2347;
}
.sidebar .nav-links li a:hover {
    background: #081d45;
}
.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.sidebar .nav-links li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}
.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.home-section {
    position: relative;
    min-height: fit-content;
    width: calc(100% - 220px);
    left: 220px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .home-section {
    width: calc(100% - 60px);
    left: 60px;
}
.home-section nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    width: calc(100% - 220px);
    left: 220px;
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav {
    left: 60px;
    width: calc(100% - 60px);
}
.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}
nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .search {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

.home-section nav .search-box {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}
nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: 2px solid #000000;
    border-radius: 25px;
    font-size: 18px;
    padding: 0 15px;
}
nav .search-box .bx-search {
    position: absolute;
    height: 40px;
    width: 40px;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    color: #0c0505;
    font-size: 22px;
    transition: all 0.4 ease;
}

.dropdown {
    display: inline-block;
    position: relative;
    background-color: #fff;
}

.profile-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ellipse {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.admin_name {
    font-weight: bold;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    z-index: 1000;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu a:hover {
    background-color: gray;
    color: black;
}

.home-section .home-content {
    position: relative;
    padding-top: 104px;
}

.notification-bell {
    cursor: pointer;
    margin-right: -120px;
}

.notification-bell .fa-bell {
    color: #000;
}

.search-box .bx-search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.home-section nav {
    position: fixed;
    top: 0;
}

.main-content {
    position: relative;
    top: 100px;
    margin-left: 30px;
}

.not-found h1 {
    text-align: center;
    size: 20px;
    font-weight: 600px;
    line-height: 1.8em;
}
.books h1 {
    font-size: 2.5em;
}

.book-item {
    display: flex;
    flex-direction: column;
    width: 98%;
    margin-bottom: 20px;
}

.book-details {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.book-details img {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
    margin-top: 20px;
}

.category-link:hover {
    text-decoration: none;
}

.book-info {
    flex: 1;
}

.book-info h3 {
    margin-top: 0;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.book-info p {
    margin-bottom: 5px;
    font-size: 1em;
    color: #666;
    text-align: justify;
    margin-right: 10px;
}

.back {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    transition: 0.3s ease;
    margin-bottom: 2%;
}

.back:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
}

.dashboard-button {
    display: flex;
    gap: 40%;
    margin-top: 3%;
    margin-left: 20%;
}

.borrow-book {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
    background-color: #3498db;
}
.borrow-book:hover {
    background-color: #000;
    text-decoration: none;
    color: #fff;
}
.return-book {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
    background-color: #3498db;
}
.return-book:hover {
    background-color: #000;
    text-decoration: none;
    color: #fff;
}

.button-icon {
    margin-right: 5px;
}

.borrow-button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
    background-color: #3498db;
}

.borrow-button:hover {
    color: #fff;
    background-color: #000;
}

.button-group {
    display: flex;
    gap: 10px;
}

.button-group form {
    display: inline-block;
}

.button-group form:first-child {
    margin-right: 10px;
}

.waiting-list-button {
    padding: 8px 12px;
    margin: 5px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #fff;
    background-color: #3498db;
}
.waiting-list-button:hover {
    color: #fff;
    background-color: #000;
}

.pagination {
    position: fixed;
    bottom: 0;
    left: 55%;
    width: 100%;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }
    .sidebar.active {
        width: 220px;
    }
    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .home-section {
        left: 220px;
        width: calc(100% - 220px);
        overflow: hidden;
    }
    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }
    .sidebar.active ~ .home-section nav {
        width: calc(100% - 220px);
        left: 220px;
    }
}
@media (max-width: 1150px) {
    .home-content .sales-boxes {
        flex-direction: column;
    }
    .home-content .sales-boxes .box {
        width: 100%;
        overflow-x: scroll;
        margin-bottom: 30px;
    }
    .home-content .sales-boxes .top-sales {
        margin: 0;
    }
}

@media (max-width: 1000px) {
    .overview-boxes .box {
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }

    .home-section nav .search-box {
        max-width: 300px;
        margin: 0 10px;
    }

    .home-section .search-box input {
        font-size: 16px;
    }

    nav .search-box .bx-search {
        height: 30px;
        width: 30px;
        font-size: 18px;
    }

    .notification-bell {
        margin-right: 5px;
    }

    .dashboard-button {
        gap: 20%;
    }

    .pagination {
        left: 80%;
    }
}
@media (max-width: 700px) {
    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
        display: none;
    }
    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }
    .home-content .sales-boxes .sales-details {
        width: 560px;
    }
}
@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }
    .sidebar.active ~ .home-section nav .profile-details {
        display: none;
    }
    .home-section nav .search-box {
        max-width: 230px;
        margin: 0 10px;
    }

    .home-section .search-box input {
        font-size: 14px;
    }

    nav .search-box .bx-search {
        height: 30px;
        width: 30px;
        font-size: 18px;
    }

    .dashboard-button {
        gap: 20%;
        margin-top: 3%;
        margin-left: 10%;
    }
    .pagination {
        left: 25%;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 0;
    }
    .sidebar.active {
        width: 60px;
    }
    .home-section {
        width: 100%;
        left: 0;
    }
    .sidebar.active ~ .home-section {
        left: 60px;
        width: calc(100% - 60px);
    }
    .home-section nav {
        width: 100%;
        left: 0;
    }
    .sidebar.active ~ .home-section nav {
        left: 60px;
        width: calc(100% - 60px);
    }
}
